@font-face {
	font-family: "MuseoSansCyrl";
	font-weight: 100;
	src: url("../../public/Fonts/MuseoSansCyrl100.woff") format("woff");
}

@font-face {
	font-family: "MuseoSansCyrl";
	font-weight: 300;
	src: url("../../public/Fonts/MuseoSansCyrl300.woff") format("woff");
}

@font-face {
	font-family: "MuseoSansCyrl";
	font-weight: 700;
	src: url("../../public/Fonts/MuseoSansCyrl700.woff") format("woff");
}