@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "MuseoSansCyrl", sans-serif;
  background-image: url('../../public/Assets/bgOriginal.jpg');
  background-repeat: no-repeat;
  background-size: 1920px;
}

